html {
	justify-content: center;
	display: flex;
	margin: auto;
	font-family: monospace;
}

body {
	width: 400px;
	color: #fff;
	background: #1C1C1C;
}
a {
	color: #d97d73;
	text-decoration: none;
}

hr {
	color: #2F353B;
}