body {
    margin: 5em auto;
    font: 18px monospace;
    background-color: #040406;
    color: #fff;
    max-width: 30em;
}

a {
    color: #fff;
    text-decoration: underline #d97d73;
}

footer {
    margin-top: 2em;
}